<style>
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  color: #333333;
  font-family: "Times New Roman", serif;
  line-height: 1.4;
  margin: 1em auto 2em auto;
  max-width: 46em;
  padding: 0 1em;
  background: linear-gradient(to top right, #ffffff, #ffffff 50%, #99663340);
  background-attachment: fixed;
}

hr {
  background-color: #333333;
  border: none;
  height: 1px;
}

a {
  color: #336699;
  text-underline-offset: 2px;
}

a:visited {
  color: #5583b8;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p+p {
  margin-top: 1em;
}

blockquote {
  font-style: italic;
  margin-left: 1.5em;
}

img {
  user-select: none;
}

dl {
  margin: 0;
}

dl dt:first-of-type {
  margin-top: 0;
}

dt {
  font-weight: bold;
  margin-top: 1.5em;
}

dd {
  margin-left: 0em;
}

form {
  margin-top: 0.5em;
}

input {
  box-sizing: border-box;
  margin: 0.25em 0;
  max-width: 20em;
  padding: 0.5em;
  width: 100%;
}

button {
  padding: 0.5em 1em;
  margin: 0.5em 0 0 0;
}

input:focus {
  outline-color: #5583b8;
}

input:user-invalid {
  outline-color: #cc7f97;
}

header .logo {
  border-bottom: 1px solid #000;
  display: block;
  padding: 0 0 1em 0;
  width: 100%;
}

nav + h1 {
  margin-top: 1em;
}

h1 {
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  text-align: center;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.25em;
}

.split2 > * {
  box-sizing: border-box;
  flex: 50%;
}

#tagline {
  font-style: italic;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  text-align: center;
}

nav {
  margin-bottom: 2em;
} 

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

nav ul li {
  border-bottom: solid #3d363d 1px;
  flex-grow: 1;
}

nav ul li a, nav ul li a:visited {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  text-align: center;
  display: block;
  color: #3d3635;
}

nav ul li a:hover {
  text-decoration: none;
}

nav ul li a.active, nav ul li a:active {
  background-color: #99663326;
}

nav ul li a.active {
  color: #111111;
}

ul, ol {
  margin: 1em 0;
}

li p {
  margin: 0;
}

#banner {
  margin-top: 2em;
}

#location {
  text-align: center;
}

#location img {
  filter: drop-shadow(3px 3px 5px #222);
  margin-bottom: 0.25em;
  max-width: 100%;
}

#location a {
  text-decoration: none;
}

#location a:hover {
  text-decoration: underline;
}

#mass-times {
  flex: 35%;
}

#mass-times h2 {
  margin-top: 0;
}

.schedule table, table.schedule {
  display: block;
  margin-top: 0.5em;
}

.schedule tr td:first-child {
  padding-right: 0.5em;
  text-align: right;
  width: 5em;
}

.schedule p {
  margin-left: 1.25em;
}

.schedule h3 {
  margin: 0.75em 0 0 0.25em;
}

.schedule h3+table, .schedule h3+p {
  margin-top: 0;
}

.action {
  display: block;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 1em 0 0 0;
  text-underline-position: under;
  vertical-align: middle;
}

.action {
  text-decoration: none;
}

.action a:hover {
  text-decoration: underline;
}

.action span {
  vertical-align: middle;
}

.action-list {
  font-family: Arial, sans-serif;
  font-weight: bold;
  list-style-type: none;
  margin: 1em 0;
  padding-left: 0;
  text-underline-position: under;
  vertical-align: middle;
}

.action-list i, .action i {
  padding-right: 0.3em;
}

.action-list li + li {
  margin-top: 1em;
}

.action-list a {
  text-decoration: none;
}

.action-list a:hover {
  text-decoration: underline;
}

ul.social-buttons {
  display: flex;
  flex-flow: row wrap;
  font-family: Arial, sans-serif;
  font-weight: bold;
  gap: 1em;
  justify-content: left;
  list-style: none;
  margin-top: 1.25em;
  padding-left: 0;
}

ul.social-buttons li {
  display: flex;
}

ul.social-buttons li a {
  border-radius: 10px;
  border: 1px solid;
  box-sizing: border-box;
  padding: 0.5em;
  text-decoration: none;
  white-space: nowrap;
  width: 10em;
}

ul.social-buttons li a:hover {
  outline: 1px solid;
  text-decoration: none;
}

ul.social-buttons li a i {
  margin-right: 0.2em;
  vertical-align: middle;
}

ul.social-buttons li a span {
  vertical-align: middle;
  width: 100%;
}

div.news-header {
  display: flex;
  align-items: baseline;
}

div.news-header h2 {
  display: inline-block;
}

div.news-header a {
  margin-left: auto;
}

article img:not(.nsa) {
  filter: drop-shadow(3px 3px 5px #222);
}

article img {
  margin-bottom: 1em;
}

footer {
  margin-top: 4em;
}

footer img.shield {
  vertical-align: middle;
  height: 1.5em;
  margin-right: 0.5em;
}

.map {
  margin: 1em 0;
  display: block;
  width: 100%;
  height: 28em;
}

header.noheading {
  margin-bottom: 2em;
}

.superiors h2 {
  margin-top: 1em;
}

.schedule iframe, .calendar iframe {
  width: 100%;
}

.action.large {
  font-size: 1.25em;
}

.noclear {
  clear: none;
}

.general-collection {
  margin-top: 4em;
}

.news h1, .news h2, .news h3, .news h4, .news h5 {
  font-size: 1em;
  text-align: left;
  margin: 1.5em 0 0 0;
}

.news h1+p, .news h2+p, .news h3+p, .news h4+p, .news h5+p {
  margin-top: 0;
}

.news p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.news ul {
  margin-bottom: 0.25em;
}

.news ul, .news li {
  margin-top: 0;
}

/* Desktop Browsers */
@media only screen and (min-width: 768px) {
  #tagline {
    font-size: 1.25em;
  }

  .split2 {
    display: flex;
    align-items: stretch;
    clear: both;
  }
  
  .split2 > *:first-child {
    margin-right: 1em;
  }

  nav ul li a {
    padding: 0.5em 0;
  }

  nav ul li a:hover {
    background-color: #99663314;
  }

  nav ul li a.active:hover {
    background-color: #99663326;
  }

  #location {
    text-align: center;
  }

  article h1 {
    clear: both;
  }

  article h2 {
    text-align: left;
    clear: both;
  }

  article section {
    clear: both;
    overflow: hidden;
  }

  article img.left, article img.right {
    max-height: none;
    max-width: 38%;
  }

  article img.left.large, article img.right.large {
    max-width: 44%
  }

  article img.left.small, article img.right.small {
    max-width: 25%
  }

  article img.left {
    margin-right: 1.25em;
    float: left;
  }

  article img.right {
    margin-left: 1.25em;
    float: right;
    clear: both;
  }

  article img.center {
    max-height: none;
    max-width: 62%;
    display: block;
    margin: 1em auto;
  }

  #paypal-button > img:hover, #paypal-button-small > img:hover {
    filter: drop-shadow(1px 1px 2px #222);
  }

  .calendar iframe {
    height: 700px;
  }

  .schedule iframe {
    height: 450px;
  }

  .action-list.horizontal li {
    display: inline-block;
    margin-right: 0.75em;
  }

  .action-list.horizontal li + li {
    margin-top: 0;
  }

  .desktop-hidden {
    display: none;
  }
  ul, ol {
    padding-left: 2.5em;
  }
}

/* Mobile Browsers */
@media only screen and (max-width: 767px) {
  .mobile-hidden {
    display: none;
  }

  #location img {
    max-height: 18em;
    margin-top: 1em;
  }

  article #mass-times h3 {
    text-align: left;
  }

  article h1, article h2, article h3 {
    text-align: center;
  }

  article img {
    max-height: 250px;
    max-width: 80%;
    display: block;
    margin: 1em auto;
  }

  article img.small, article img.mobile-small {
    max-height: 150px;
  }

  nav ul li a {
    padding: 0.5em 0.5em;
  }

  .mobile-center {
    text-align: center;
  }

  .calendar iframe {
    height: 550px;
  }

  .schedule iframe {
    height: 400px;
  }

  a.donate {
    text-align: center;
  }

  ul, ol {
    padding-left: 2em;
  }
}
</style>
