body {
  color: #333;
  margin: 1em auto 2em auto;
  max-width: 46em;
  line-height: 1.5em;
  padding: 0 1em;
  font-family: "Times New Roman", serif;
  background: linear-gradient(to top right, #ffffff, #ffffff 50%, #99663340);
  background-attachment: fixed;
}

a {
  color: #336699;
  text-underline-offset: 2px;
}

a:visited {
  color: #5583b8;
}

a:hover {
  text-decoration: underline;
}

h2 {
  margin-top: 1.25em;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

img {
  user-select: none;
}

dl {
  margin: 0;
}

dl dt:first-of-type {
  margin-top: 0;
}

dt {
  font-weight: bold;
  margin-top: 1em;
}

dd {
  margin-left: 0em;
}

form {
  margin-top: 0.5em;
}

input {
  padding: 0.5em;
  margin: 0.25em 0;
  width: 100%;
  max-width: 20em;
  box-sizing: border-box;
}

button {
  padding: 0.5em 1em;
  margin: 0.5em 0 0 0;
}

input:focus {
  outline-color: #5583b8;
}

input:user-invalid {
  outline-color: #cc7f97;
}

header img:first-of-type {
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 0 0 1em 0;
}

header h1 {
  text-align: center;
  margin-bottom: 1em;
}

header nav a, header nav a:visited {
  color: inherit;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

#tagline {
  text-align: center;
  font-style: italic;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

#banner {
  margin-top: 2em;
}

#location img {
  max-width: 100%;
  filter: drop-shadow(3px 3px 5px #222);
  margin-bottom: 0.25em;
}

#location a {
  text-decoration: none;
}

#location a:hover {
  text-decoration: underline;
}

.split > div:first-child {
  padding-right: 1em;

}

.split > div {
  box-sizing: border-box;
  flex: 50%;
}

#mass-times h2 {
  margin-top: 0;
}

table.schedule {
  margin-top: 0.5em;
}

.schedule table {
  margin-top: 0.5em;
}

.schedule tr td:first-child {
  width: 5em;
  padding-right: 0.5em;
  text-align: right;
}

.schedule h3 {
  margin: 0.75em 0 0 0.25em;
}

.schedule h3+table {
  margin-top: 0;
}

.action {
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-underline-position: under;
  vertical-align: middle;
  display: block;
  margin: 1em 0 0 0 ;
}

.action {
  text-decoration: none;
}

.action a:hover {
  text-decoration: underline;
}

.action span {
  vertical-align: middle;
}

.action-list {
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-underline-position: under;
  vertical-align: middle;
  list-style-type: none;
  padding-left: 0;
  margin: 1em 0 0 0;
}

.action-list i {
  padding-right: 0.3em;
}

.action-list li + li {
  margin-top: 1em;
}

.action-list a {
  text-decoration: none;
}

.action-list a:hover {
  text-decoration: underline;
}

#sap-life {
  text-align: center;
}

#sap-life h2 {
  font-weight: normal;
  font-style: italic;
}

#sap-life h3 {
  font-style: italic;
  margin-bottom: 0.25em;
}

#sap-life ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-buttons {
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding-left: 0;
  margin-top: 1.25em;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  justify-content: left;
}

.social-buttons li {
  display: flex;
}

.social-buttons li a {
  border: 1px solid;
  padding: 0.5em;
  border-radius: 10px;
  white-space: nowrap;
  box-sizing: border-box;
  width: 10em;
  text-decoration: none;
}

.social-buttons a:hover {
  text-decoration: none;
  outline: 1px solid;
}

.social-buttons li a i {
  margin-right: 0.2em;
  vertical-align: middle;
}

.social-buttons li a span {
  width: 100%;
  vertical-align: middle;
}

.news-header {
  display: flex;
  align-items: baseline;
}

.news-header h2 {
  display: inline-block;
}

.news-header a {
  margin-left: auto;
}

article img {
  filter: drop-shadow(3px 3px 5px #222);
}

footer {
  margin-top: 3em;
}

footer img.shield {
  vertical-align: middle;
  height: 1.5em;
  margin-right: 0.5em;
}

/* Desktop Browsers */
@media only screen and (min-width: 768px) {
  .split {
    display: flex;
    align-items: stretch;
  }

  #sap-life > div{
    display: flex;
    align-items: stretch;
  }

  #sap-life > div > div {
    flex: 33%;
  }

  #sap-life h3 {
    margin-top: 0.5em;
  }

  #location {
    text-align: center;
  }

  #tagline {
    font-size: 1.25em;
  }

  article h2 {
    text-align: left;
  }

  article img {
    max-height: none;
    max-width: 50%;
  }

  article section {
    clear: both;
    overflow: hidden;
  }

  article img.right {
    margin-left: 1.5em;
    margin-bottom: 1em;
    float: right;
  }

  article img.left {
    margin-right: 1.5em;
    margin-bottom: 1em;
    float: left;
  }
}

/* Mobile Browsers */
@media only screen and (max-width: 767px) {
  .mobile-hidden {
    display: none;
  }

  #location img {
    max-height: 18em;
    margin-top: 1em;
  }

  #sap-life h3 {
    margin-top: 1em;
  }

  article h2 {
    text-align: center;
  }

  article img {
    max-height: 18em;
    max-width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
